*
{
    font-family: 'joystixmonospace';
	padding: 0;
	margin: 0;
}
html
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body
{
	width: 100%;
	height: 100%;
	display: flex;
}
#escurecer
{
    position: fixed;
    z-index: 12;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(12,12,12,0.85),rgba(12,12,12,0.75));
    
}
#container
{
	max-height: 100vh;
	width: 100%;
	height: 50vw;
	align-self: center;
}
#infoDiv
{
	border: 3px white dashed;
	position: absolute;
	padding: 5px;
	margin-top: 1vh;
	left: 1vw;	
	z-index: 9;
	font-size: 1vw;
	color: rgb(0,255,0);
}
#showInfo
{
    display: flex;
	align-items: center;
	justify-content: center;
	width: 50vw;
	position: absolute;
	padding: 5px;
	margin-top: calc(20vh - 20vw);
	left: 25vw;
	z-index: 13;
	font-size: 1vw;
	color: rgb(255,0,0);
}
#interactabilityDiv
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90vw;
	position: absolute;
	top: 20vh;
	left: 5vw;
	z-index: 9;
	font-size: 2vw;
	color: rgb(16,21,255);
	text-shadow: 3px 3px rgb(16,240,255);
}
#player
{	
	position: relative;	
	top: calc(100% - 11vw);
	z-index: 10;
}
.relative
{
	position: relative;
}

#portaInformatica
{
	top: calc(100% - 29vw - 0.5vw);
}
#portaEnfermagem
{
	top: calc(100% - 46vw - 0.5vw);
}
#portaEdificacoes
{
	top: calc(100% - 63vw - 0.5vw);
}
#portaTurismo
{
	top: calc(100% - 80vw - 0.5vw);
}
#portaManutencao
{
    top: calc(100% - 97vw - 0.5vw);
}
#portaAdministracao
{
    top: calc(100% - 114vw - 0.5vw);
}
#portaInscricao
{
	top: calc(100% - 131vw - 0.5vw);
}
#portaSaida
{
	top: calc(100% - 29vw - 0.5vw);
}
#computadorUm, #computadorUnico, #computadorAdm, #roupa, #balao
{
    top: calc(100% - 46vw - 0.5vw);
}
#placa
{
    top: calc(100% - 50vw - 0.5vw);
}
#computadorDois, #robo, #cimento, #coracao, #mesaTur
{
    top: calc(100% - 63vw - 0.5vw);
}
#tv
{
	top: calc(100% - 70vw - 0.5vw);
}
#computadorAdmDois
{
	top: calc(100% - 80vw - 0.5vw);
}
#computadorTres, #circuito, #lousa, #maca, #computadorTur
{
    top: calc(100% - 80vw - 0.5vw);
}
#mesa
{
	top: calc(100% - 77vw - 0.5vw);
}
#computadorTexto
{
	font-size: 1.3vw;
	background: black;
	color: rgb(0,255,0);
	height: 100%;
	width: 100%;
	overflow: auto;
}
#roboTexto
{
	font-size: 1.3vw;
	background-color: white;
	background-image: url('img/telas/telaRobo.gif');
	background-size: 100% 100%; 
	color: red;
	text-shadow: 0.1vw 0.1vw darkred;
	height: 100%;
	width: 100%;
	overflow: auto;
}
#televisaoTexto
{
	font-size: 1.3vw;
	background: black;
	color: white;
	height: 100%;
	width: 100%;
	overflow: auto;
}
#placaTexto
{
	font-size: 1.35vw;
	background: white;
	color: black;
	height: 100%;
	width: 100%;
	overflow: auto;
}
#mesaTexto
{
	font-size: 1.5vw;
	color: black;
	height: 100%;
	width: 100%;
	overflow: auto;
}
#cimentoTexto
{
	font-size: 1.5vw;
	color: lightblue;
	height: 100%;
	width: 100%;
	overflow: auto;
	background: transparent;
}
#professora
{
    top: calc(100% - 97vw - 0.5vw);
}

#computadorTexto::-webkit-scrollbar {
  width: 0.4vw;
}

#computadorTexto::-webkit-scrollbar-track {
  background: rgb(12,12,12); 
}
 
#computadorTexto::-webkit-scrollbar-thumb {
  background: rgb(220,220,220); 
}

#computadorTexto::-webkit-scrollbar-thumb:hover {
  background: white;
}

#spanFechar
{
	position: absolute;
	left: 64vw;
	cursor: pointer;
	color: red;
	text-shadow: 3px 3px rgb(125,0,0);
	z-index: 15;
}
.afirmative
{
	background:lightgreen;
	width: 80%;
	margin-top: 0.5%;
	margin-left: 10%;
	border-radius: 10px;
	font-size: 1vw;
	transition: 0.5s 0s ease;
}
div:hover.afirmative
{
	cursor: pointer;
	background: rgb(91, 239, 148);
	border: 1px solid black;
	margin-left: calc(10% - 1px);
}
.afirmative.selected
{
	background: rgb(91, 239, 148);
	border: 1px solid black;
	margin-left: calc(10% - 1px);
}
@font-face {
    font-family: 'joystixmonospace';
    src: url('fonts/joystixmonospace.eot');
    src: url('fonts/joystixmonospace.eot') format('embedded-opentype'),
         url('fonts/joystixmonospace.woff2') format('woff2'),
         url('fonts/joystixmonospace.woff') format('woff'),
         url('fonts/joystixmonospace.ttf') format('truetype'),
         url('fonts/joystixmonospace.svg#joystixmonospace') format('svg');
}
/*background-size: 100% 50vw;background-repeat: no-repeat;background-position: 0px bottom; CODIGO PARA O BACKGROUND*/